.budget-wrapper {    
    width: 100%vh;
    height: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.budget-title-wrapper {
    font-size: 40px;
    width: 100%;
    height: 100px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid #3b3a30;
    border-radius: 5px;
}

.income-wrapper {
    height: 300px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    
}

.inc-wrapper-wrapper {
    border: 2px #b2c2bf solid;
}

.income-cat-wrapper {
    display: flex;
    border: 1px #b2c2bf solid;
}

.dif-wrapper {
    border-top: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;    
    width: 69px;
    display: flex;
    height: 23px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.projected-income-wrapper {
    border: 2px #b2c2bf solid;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actual-income-wrapper {
    border: 2px #b2c2bf solid;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    text-align: center;
    margin: 0 auto;
}

.pmi-ami-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 120px;
    height: 86px;
}

h6 {
    width: 150px;
    height: 23px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    border: 1px solid #3b3a30;
    border-top: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;
}

.pro-act-income-wrapper {
    border: 2px solid #3b3a30;
}

.balance-section-wrapper {
    border: 1px #b2c2bf solid;    
    border: 2px solid #3b3a30;    
}

.bal-row-wrapper {
    border: 1px #b2c2bf solid;    
    display: flex;
    
}

.bal-discription-wrapper {
    border: 1px solid #3b3a30;
    border-top: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;    width: 200px;
    height: 45px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}

.bal-wrapper {
    border: 1px #b2c2bf solid;    
    width: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.category-wrapper {
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.housing-wrapper {
    border: 2px solid #000000;
    border-radius: 5px;
}

.entertainment-wrapper { 
    border: 2px solid #000000;
    border-radius: 5px;
    height: 100%;
}

.transportation-wrapper { 
    border: 2px solid #000000;
    border-radius: 5px;
    margin-top: -40px;
    }

.loans-wrapper {  
    margin-top: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    height: 100%;
}

.button-wrapper {  
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40px;
}
.button {
    background-color: white; 
    color: #3b3a30; 
    border: 2px solid #008CBA;
    font-size: 24px;
    width: 50%;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}

.category {
    width: 100%;
    border: 1px #b2c2bf solid;
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.category-name {
    border-right: 1px solid #3b3a30;        
    width: 146px;
    /* border: 1px #b2c2bf solid; */
}

.projected-input {
    width: 61px;    
    color: #3b3a30;
    border: 0;
    outline: 0;
    border: 1px solid #3b3a30;
    border-top: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;
}

.actual-input {
    width: 61px;
    border-right: 1px solid #3b3a30;
    border: 1px solid #3b3a30;
    border-top: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;
}

h5 {
    width: 62px;
    margin: 0;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

h4 {
    width: 70px;
    border: 1px #b2c2bf solid;
    margin: 0;
    font-size: 13px;
    text-align: center;
    background-color: lightblue;
    overflow: hidden;
    text-overflow: ellipsis;
}

p {
    width: 145px;
    background-color: lightblue;
    border: 1px #b2c2bf solid;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

