* {
    margin: 0;
}

.budget-wrapper {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: none;
}

.budget-title-wrapper {
    font-size: 40px;
    width: 100%;
    height: 100px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid #3b3a30;
    border-radius: 5px;
    background-image: linear-gradient(blue, #5581D3);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    color: white;
    margin-bottom: 20px;
}

.income-wrapper {
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

.income-cat-wrapper {
    display: flex;
    border: 1px #3b3a30 solid;
    height: 28px;
}

.dif-wrapper {
    font-size: 15px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 69px;
    display: flex;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projected-income-wrapper {
    margin-bottom: 5px;
    border: 1px #3b3a30 solid;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actual-income-wrapper {
    border: 1px #3b3a30 solid;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
}

h2 {
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background-image: linear-gradient(blue, #5581D3);
    height: 100%;
    width: 100%;
}

.pmi-ami-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 35%;
    height: 100%;
}

h6 {
    padding-left: 5px;
    width: 150px;
    height: 30px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    border-right: 1px #3b3a30 solid;
    border-left: 1px #3b3a30 solid;
}

.balance-section-wrapper {
    border: 1px #b2c2bf solid;
    border: 1px solid #3b3a30;
}

.bal-row-wrapper {
    border: 1px #b2c2bf solid;
    display: flex;
}

.bal-discription-wrapper {
    border: 1px solid #3b3a30;
    border-top: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;
    width: 200px;
    height: 45px;
    font-size: 13px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    background-image: linear-gradient(blue, #5581D3);
    color: white;    
}

.bal-wrapper {
    border: 1px #b2c2bf solid;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.category-wrapper {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.housing-wrapper {
    border-radius: 5px;
    width: 370px;
    height: 100%;
    margin-top: 20px;
    
}

.entertainment-wrapper {
    border-radius: 5px;
    height: 100%;
    width: 370px;
    margin-top: 20px;  
    margin-left: 25px;  
}

.transportation-wrapper {
    border-radius: 5px;
    height: 100%;
    width: 370px;
    border-radius: 5px;
    margin-top: -40px;
    margin-left: 25px;
}

.loans-wrapper {
    margin-top: 20px;
    height: 100%;
    border-radius: 5px;
    height: 100%;
    width: 370px;
}

@media (max-width: 1111px) {
    .category-wrapper {
        width: 60%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .transportation-wrapper {
        margin-top: 20px;
    }
    .entertainment-wrapper {
        margin-left: 0px;
    }
    .transportation-wrapper {
        margin-left: 0px;
    }
    .income-wrapper {
        margin-bottom: 0px;
    }
    .pro-act-income-wrapper {
        margin-top: 25px;
        margin-bottom: 20px;
    }
  }

.button-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40px;
}

.button {
    background-color: white;
    color: #3b3a30;
    font-size: 24px;
    width: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(blue, #5581D3);        
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    
}

.button:hover {
    background-image: linear-gradient(#5581d3, blue);        
    border: 1px solid silver;
    cursor: pointer;
}

.button:active {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
border: 2px solid rgba(0,0,0,0.6);
}


.category {
    width: 100%;
    border: 1px #3b3a30 solid;
    display: flex;
    justify-content: flex-start;
}

.category-name {
    border-right: 1px solid #3b3a30;
    width: 146px;
    color: black;
    padding-left: 5px;
}

.projected-input {
    width: 61px;
    color: #3b3a30;
    border: 0;
    outline: 0;
    border: 1px solid #3b3a30;
    border-top: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;
}

.actual-input {
    width: 61px;
    border-right: 1px solid #3b3a30;
    border: 1px solid #3b3a30;
    border-top: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;
}

.category h5 {
    color: black;
    width: 62px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h4 {
    border-left: 1px #3b3a30 solid;
    color: white;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    width: 71px;
    display: flex;
    justify-content: center; 
    padding-top: 7px;
}

p {
    width: 151px;
    height: 30px;
    background-image: linear-gradient(blue, #5581D3);
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    text-indent: 3px; 
}

h1 {
    margin: 0;
    color: white;
}

.income-dollar-sign {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5px;
}

.total-diff-wrapper {
    width: 80px;
    border-left: 0;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subtotals-wrapper {
    background-image: none;
    color: black;    
}

.category-banner-wrapper {
    width: 100%;
    border: 1px #3b3a30 solid;
    display: flex;
    justify-content: flex-start;
    background-image: linear-gradient(blue, #5581D3);        
}
.logout-button {
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
    background-image: linear-gradient(#033601, #23FD06);
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 2px;
}

.logout-button:hover {
    background-image: linear-gradient(#23FD06, #033601);        
    border: 1px solid silver;
    cursor: pointer;
}

.logout-button:active {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    border: 1px black solid;
    
}
