.budget-wrapper {
    /* background-color: lightskyblue; */
    height: 100%;
    width: 100%vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.budget-title-wrapper {
    border: 2px black solid;
    font-size: 40px;
    width: 100%;
    height: 100px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.income-wrapper {
    height: 300px;
    border: 2px darkblue solid;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.inc-wrapper-wrapper {
    border: 2px silver solid;
}

.income-cat-wrapper {
    display: flex;
    border: 1px silver solid;
}

.dif-wrapper {
    border: 2px silver solid;
    width: 62px;
    display: flex;
    height: 23px;
    
}

.projected-income-wrapper {
    border: 2px silver solid;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    width: 320px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.actual-income-wrapper {
    border: 2px silver solid;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    width: 320px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

h2 {
    border: 2px blue solid;
    font-size: 18px;
    width: 120px;
    height: 86px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

h6 {
    width: 150px;
    height: 23px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.pro-act-income-wrapper {
    border: 2px red solid;
}

.balance-section-wrapper {
    border: 1px silver solid;    
    border: 2px blue solid;    
}

.bal-row-wrapper {
    border: 1px silver solid;    
    display: flex;
    
}

.bal-discription-wrapper {
    border: 1px silver solid;    
    width: 200px;
    height: 45px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bal-wrapper {
    border: 1px silver solid;    
    width: 66px;
    
}


.category-wrapper {
    border: 2px darkred solid;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.housing-wrapper {
    border: 2px silver solid;
}

.entertainment-wrapper { 
    border: 2px silver solid;
    height: 0;   
}

.transportation-wrapper { 
    border: 2px silver solid;
    height: 0 auto;
    }

.loans-wrapper {  
    border: 2px silver solid;
    margin-top: 20px;
    height: 0;
}

.button-wrapper {  
    border: 2px red solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40px;
}
.button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    font-size: 24px;
    width: 50%;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}

.category {
    width: 100%;
    border: 1px silver solid;
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.category-name {
    width: 145px;
    border: 1px silver solid;
}

.projected-input {
    width: 60px;    
    color: black;
    border: 1px silver solid;
}

.actual-input {
    width: 60px;
    border: 1px silver solid;
}

h5 {
    width: 62px;
    border: 1px silver solid;
    margin: 0;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

h4 {
    width: 62px;
    border: 1px silver solid;
    margin: 0;
    font-size: 13px;
    text-align: center;
    background-color: lightgreen;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

p {
    width: 145px;
    background-color: lightgreen;
    border: 1px silver solid;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}



