.form-wrapper {
   width: 300px;
   height: 300px;
   border-radius: 5px;
   background-color: #F0F0F0;
   margin-top: 91px;
   border: 2px solid blue;   
}

.login-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 80%;
   text-align: center;
   padding: 10px;
}

.username-wrapper {
   width: 100%;
}

.password-wrapper {
   width: 100%;
}

.signup-input {
   width: 90%;
   border-radius: 5px;
   height: 25px;
   border: none;
   padding: 5px;
   border: 2px solid blue;
   /* margin: 0 auto; */
}

.we-wrapper {
   max-width: 1200px;
   height: 100vh;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.login-logout-words {
    font-weight: bold;
    font-size: 40px;
    text-align: center; 
    margin-top: 131px;
}

.signup-nav-wrapper {
    background-color: lightcyan;
    width: 100%;
    height: 150px;
}

.login-nav-wrapper {
    background-color: blue;
    width: 100%;
    height: 150PX;
}

.submit-button-wrapper {
    border-radius: 10px;
    height: 40px;    
    width: 150px;
    color: white;

    font-size: 15px;
    margin: 0 auto;
    background-image: linear-gradient(blue, #5581D3);
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .submit-button-wrapper:hover {
      background-image: none;
      background-color: #3030FD;
}
  
  .submit-button-wrapper:active {
    background-color: #1616BE;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }