.nav-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.login-signup-link {
    height: 100%;
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(blue, #5581D3);        
    text-decoration: none;
    cursor: pointer;
}

.login-signup-link:hover {
    background-image: linear-gradient(#5581d3, blue);        
    border: 1px solid silver;
    cursor: pointer;
}

.navbar-item {
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(blue, #5581D3);        
    border: 1px solid #2f3542;
}

.nav-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.cat-form-footer {
    background-image: linear-gradient(blue, #5581D3);            
    width: 100%;
    height: 25px; 
    position:fixed;
    left:0px;
    bottom:0px;
}

.selected {
    background-image: none;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border: 1px solid black;
}

/* .nav-link:hover:not(.active) {
    background-color: #111;    
} */

/* a:active {
    background-color: black;
}

li.nav-link > a.active {
    display: block;
    width: 100%;
    height:100%;
    color: white;
    background-color: blue;
} */