.nav-wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.login-signup-link {
    height: 100%;
    font-size: 30px;
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 25px;
    text-decoration: none;
}

.login-signup-link:hover {
    background-color: #1D1D1D;
    border: 1px solid silver;
}

.navbar-item {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.nav-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


/* .nav-link:hover:not(.active) {
    background-color: #111;    
} */



a:active {
    background-color: black;
}

li.nav-link > a.active {
    display: block;
    width: 100%;
    height:100%;
    color: white;
    background-color: blue;
}
