.nav-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.login-signup-link {
    height: 100%;
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3742fa;
    text-decoration: none;
    cursor: pointer;    
}

.login-signup-link:hover {
    background-color: #3D3DFF;
    border: 1px solid silver;
    cursor: pointer;    
}

.navbar-item {
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
    border: 1px solid #2f3542;
}

.nav-link {
width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}


/* .nav-link:hover:not(.active) {
    background-color: #111;    
} */



/* a:active {
    background-color: black;
}

li.nav-link > a.active {
    display: block;
    width: 100%;
    height:100%;
    color: white;
    background-color: blue;
} */
